html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: 'Livvic', sans-serif;
  margin: 0;
}

.container {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}